@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: rgba(248, 250, 252, 0.9);
	background-blend-mode: overlay;
	background-image: url();
	background-size: cover;
	
}

@media (prefers-color-scheme: dark) {
	html.auto {
		background-color: rgba(3, 7, 18, 0.9);
		color: theme(colors.slate.200);
	}

	html.dark {
		background-color: rgba(3, 7, 18, 0.9);
		color: theme(colors.slate.200);
	}
}

html.dark {
	background-color: rgba(3, 7, 18, 0.9);
	color: theme(colors.slate.200);
}

body {
	min-height: 100vh;
}

h1 {
	font-size: theme(fontSize.3xl);
	font-weight: theme(fontWeight.semibold);
	margin: 0;
	padding: 0;
}

a:hover h3,
a:focus h3 {
	@apply no-underline;
}

.var-category-bubble-bg {
	background-color: rgba(255, 255, 255, 0.9); /* category light */
}

@media (prefers-color-scheme: dark) {
	html.auto .var-category-bubble-bg {
		background-color: rgba(0, 0, 0, 0.9); /* category dark */
	}

	html.dark .var-category-bubble-bg {
		background-color: rgba(0, 0, 0, 0.9); /* category dark */
	}
}
